body
{
	color: 				#ffffff;
	background-color:	#404040;
}

.hidden
{
	display: 			none;
}

.transparent
{
	opacity: 0;
}

.header
{
	height: 40px;
	width: 100%;
}

.page
{
	position:			absolute;
	left: 				10px;
	top: 				50px;
}

.highlight
{
	position:			absolute;
}

.usechart
{
	width: 32px;
	height: 32px;
}